doctype html
html
   head
      title My Site Title
      meta(charset="UTF-8")
      link(rel="stylesheet" href="css/style.css")
   body
      include  header

      main#main
         block main

      include  footer
