extends partials/_layout
block main

   .container
      .alert.alert-success Welcome, Hello :)
      .alert.alert-danger Welcome, Hello :)
      .alert.alert-warning Welcome, Hello :)
      .alert.alert-primary Welcome, Hello :)
