extends partials/_layout
block main

   .container
      button.btn.btn-primary(type='button') Primary
      button.btn.btn-secondary(type='button') Secondary
      button.btn.btn-success(type='button') Success
      button.btn.btn-danger(type='button') Danger
      button.btn.btn-warning(type='button') Warning
      button.btn.btn-info(type='button') Info
      button.btn.btn-light(type='button') Light
      button.btn.btn-dark(type='button') Dark
      button.btn.btn-link(type='button') Link

      hr

      button.btn.btn-outline-primary(type='button') Primary
      button.btn.btn-outline-secondary(type='button') Secondary
      button.btn.btn-outline-success(type='button') Success
      button.btn.btn-outline-danger(type='button') Danger
      button.btn.btn-outline-warning(type='button') Warning
      button.btn.btn-outline-info(type='button') Info
      button.btn.btn-outline-light(type='button') Light
      button.btn.btn-outline-dark(type='button') Dark

      hr

      button.btn.btn-outline-dark.btn-lg(type='button') Dark LG
      button.btn.btn-outline-dark.btn-lg(type='button' disabled) Disabled

      hr

      .btn-group
         button.btn.btn-danger(type='button') Left
         button.btn.btn-warning(type='button') Middle
         button.btn.btn-success(type='button') Right

      hr

      .btn-group
         input#btnradio1.btn-check(type='radio' name='btnradio' checked)
         label.btn.btn-outline-primary(for='btnradio1') Radio 1
         input#btnradio2.btn-check(type='radio' name='btnradio')
         label.btn.btn-outline-primary(for='btnradio2') Radio 2
         input#btnradio3.btn-check(type='radio' name='btnradio')
         label.btn.btn-outline-primary(for='btnradio3') Radio 3





