extends partials/_layout
block main

   .container
      .row
         .col-xxl-2.col-xl-4.col-lg-4.col-md-6.col-sm-6.col-12
            .box.bg-success
         .col-xxl-2.col-xl-4.col-lg-4.col-md-6.col-sm-6.col-12
            .box.bg-success
         .col-xxl-2.col-xl-4.col-lg-4.col-md-6.col-sm-6.col-12
            .box.bg-success
         .col-xxl-2.col-xl-4.col-lg-4.col-md-6.col-sm-6.col-12
            .box.bg-success
         .col-xxl-2.col-xl-4.col-lg-4.col-md-6.col-sm-6.col-12
            .box.bg-success
         .col-xxl-2.col-xl-4.col-lg-4.col-md-6.col-sm-6.col-12
            .box.bg-success

      .row.mt-5
         .col-lg-6.col-md-12
            .box.bg-dark.bg-opacity-50
               .row
                  .col-md-3.col-sm-6.col-12
                     .bg-warning.mb-2(style="min-height: 30px")
                  .col-md-3.col-sm-6.col-12
                     .bg-warning.mb-2(style="min-height: 30px")
                  .col-md-3.col-sm-6.col-12
                     .bg-warning.mb-2(style="min-height: 30px")
                  .col-md-3.col-sm-6.col-12
                     .bg-warning.mb-2(style="min-height: 30px")

         .col-lg-6.col-12
            .box.bg-dark.bg-opacity-50


