extends partials/_layout
block main

   .container
      .table-responsive
         table.table.table-striped.table-dark.table-hover.table-bordered
            thead
               tr
                  th #
                  th First
                  th Last
                  th Handle
                  th Handle
                  th Handle
            tbody
               tr
                  th 1
                  td Mark
                  td Otto
                  td @mdo
                  td @mdo
                  td @mdo
               tr
                  th 2
                  td Jacob
                  td Thornton
                  td @fat
                  td @fat
                  td @fat
               tr
                  th 3
                  td(colspan='2') Larry the Bird
                  td.table-danger @twitter
                  td.table-danger @twitter
                  td.table-danger @twitter

