doctype html
html
   head
      title Learning Bootstrap
      meta(charset="UTF-8")
      meta(name='viewport' content='width=device-width, initial-scale=1')
      link(rel="stylesheet" href="css/bootstrap-icons.css")
      link(rel="stylesheet" href="scss/style.css")
   body
      include  header

      main#main
         block main

      include  footer
