doctype html
html(dir="rtl")
   head
      title باسلام
      meta(charset="UTF-8")
      meta(name='viewport' content='width=device-width, initial-scale=1')
      link(rel="stylesheet" href="css/bootstrap-icons.css")
      link(rel="stylesheet" href="scss/style.css")
   body
      include headerBasalam

      main#main.bg-light.pb-5
         block main

      include footer
