header#main-header
   nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container
         a.navbar-brand(href='#') Bootstrap
         button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbar')
            span.navbar-toggler-icon
         #navbar.collapse.navbar-collapse
            ul.navbar-nav.me-auto.mb-2.mb-lg-0
               li.nav-item
                  a.nav-link.active(href='#') Home
               li.nav-item
                  a.nav-link(href='#') Link
               li.nav-item.dropdown
                  a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown')
                     | Dropdown
                  ul.dropdown-menu
                     li
                        a.dropdown-item(href='#') Action
                     li
                        a.dropdown-item(href='#') Another action
                     li
                        hr.dropdown-divider
                     li
                        a.dropdown-item(href='#') Something else here
               li.nav-item
                  a.nav-link.disabled Disabled
            form.d-flex(role='search')
               input.form-control.me-2(type='search' placeholder='Search')
               button.btn.btn-outline-secondary(type='submit') Search
