doctype html
html
   head
      title Learning SCSS
      meta(charset="UTF-8")
      link(rel="stylesheet" href="../node_modules/normalize.css/normalize.css")
      link(rel="stylesheet" href="../scss/style.css")
   body
      include header

      main#main
         block main

      include footer
