extends partials/_layout
block main
   div#gallery
      h2 Gallery page
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, adipisci, aspernatur at dolorum error ipsum minus modi molestiae obcaecati optio quae quam repudiandae temporibus. Autem est eum itaque porro sapiente!
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequuntur exercitationem fugit iste maiores maxime quidem temporibus? Adipisci aut ratione rem? Aliquid aspernatur error explicabo ipsam itaque, molestias quibusdam sapiente.


